.user-event-page{
   display: flex;
   justify-content: center;
   align-items: center;
    width:100%;
    height: 100%;
}
.ue-content-containter{
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    width: 80%;
    height: auto;
    min-height: 100vh;
    padding: 4rem;
    display: flex;
    justify-content:center ;
    position: relative;
    overflow:auto; 
    display: flex;
    flex-direction: column;
}   
.ue-content{
    margin-top: 10px;
}
.regis-button{
    position: absolute;
    top:1rem;
    right: 1rem;
}
.header{
    font-size: 2rem;
    font-weight: 500;
}