/* *,
*::before,
*::after {
  box-sizing: border-box !important;
} */
.postListWrapper {
  /* -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-width: 28%;
  -moz-column-width: 28%;
  column-width: 28%;
  padding: 0 5px;
  column-gap: 5pt; */
  display: grid;
  grid-template-columns: repeat(4,fit-content(40%));
  grid-template-rows: auto;
  gap : 1rem
}
 /* @media( max-width: 1001px) {
   .postListWrapper{
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
   }
 }
 @media( max-width: 800px) {
  .postListWrapper{
   -webkit-column-count: 2;
   -moz-column-count:2;
   column-count: 2;
   -webkit-column-width: 100%;
   -moz-column-width: 100%;
   column-width: 100%;
  }
} */
/* @supports (grid-template-rows: masonry) {
  .postListWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: masonry;
  }

  .postListWrapper > * {
    break-inside: avoid;
  }
} */
.postItem {
  position: relative;
  cursor: pointer;
  box-shadow: 1px 1px 15px -15px rgba(0, 0, 0, 0.8);
  width: 200px;
  height: auto;
  border: none;
  border-radius: 5px;
  object-fit: contain;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  
}

.postDescription {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  background: rgba(255, 233, 219, 0.7);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 500ms;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  border-radius: 5px;
  height: auto;
}

.postItem:hover .postDescription {
  visibility: visible;
  opacity: 1;
}

