/* .page-wrapper {
    background-image:  url('../../asset/backGround.png');
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    height: 100%;
} */

.content-container{
    width: 100%;
    height: 800px;
}
.my-carousel {
    width: 100%;
    height: 600px;
    background-color: rgba(0,0,0,0.5);
  }

  .landing-img-container{
      width: 100%;
      height: 600px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  }
.landing-images{
    width: 100%;
    height: 600px;
    object-fit: contain;
}
.landing-detail{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background-color: rgba(0,0,0,0.5);
    transition: .5s ease;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:1rem;
    cursor: pointer;
}
.landing-img-container:hover .landing-detail{
    z-index: 2;
    opacity: 1;
}
.landing-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
}
.landing-des{
    font-size: 1.5rem;
    font-weight: 400;
}