.top-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap : 0.5rem;
}
.info{
    display: grid;
    grid-template-columns: 200px 400px;
    grid-template-rows: row;
    gap: 0.5rem;
}